body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #BA0C2F;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #00338D;
    color: white;
    text-align: center;
    padding: 20px;
}


#loading-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
