<!DOCTYPE html>
<html>
<head>
    <title>Create OMP Package</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   
</head>
<body>
    <p>OMP Toolbox!!</p>
    <form id="createPackage" method="post" enctype="multipart/form-data">
        <h4>Environment Details</h4>
        <table>
            <tr>
                <th>Environment URL</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            <tr>
                <td><input type="text" id="envUrl" name="base_url"></td>
                <td><input type="text" id="username" name="username"></td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
        </table>
        <tr>
            <td> <input type="file" name="file" id="fileToUpload"> </td>
            <td> <input type="button" name="uploadConnectionFile" id="uploadFile" value="Upload Connection File"> </td>
        </tr>
        
        <br><h2>OMP Details</h2>
        <tr>
            <td> <label for="ompName">OMP Name:</label></td>
            <td> <input type="text" id="ompName" name="package_name"> </td>
            <td> <label for="ompDescription"> OMP Description: </label> </td>
            <td> <input type="text" id="ompDescription" name="package_desription"></td>
        </tr>
        <tr>
            <input type="submit" value="Create OMP Package">
        </tr>
        
        
    </form>

    <!-- code for loader -->
    <div id="loading-overlay" style="display: none;">
        <div class="loader"></div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scriptButtonClick.js') }}"></script>
 
</body>
</html>